<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bingo_DesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Bingo_DesktopApp.Properties.Settings>
            <setting name="AutoReplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyOnePerBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegularGameRadioToggled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberOfWinsReqInt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CustomGameRadioToggled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDealChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </Bingo_DesktopApp.Properties.Settings>
    </userSettings>
</configuration>